.popup__button-submit {
  width: 358px;
  height: 50px;
  margin: 18px 0 0;
  padding: 0;
  background: #000000;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__button-submit:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 580px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}
